<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Jua:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>

    <link rel="stylesheet" href="/css/update-style.css">
    <script src="/js/app/update.js" defer></script>

    <title>Update Article</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="site-name">Spring Boot Example</a>
    </nav>
    
    <div class="content-sector">
        <div class="board-name">
            <h2>글수정</h2>
        </div>

        <div class="write-area">
            <div class="write-form">
                <input type="text" class="form-control" id="id" value="{{board.id}}" hidden>

                <div class="form-title">
                    <label for="title"><b>제목</b></label>
                    <input type="text" id="title" name="title" class="input-title" value="{{board.title}}">
                </div>

                <div class="form-content">
                    <label for="content-label"><b>내용</b></label>
                    <textarea name="content" class="content" id="content">{{board.content}}</textarea>
                </div>

                <div class="form-files">
                    <label for="files"><b>사진 수정</b></label>
                    
                    {{#board.filePath}}
                        <div class="img-list">
                            <img src={{.}} alt="image" />
                            <button class="btn-del-img" name="btn-del-img" value={{.}}>X</button>
                        </div>
                    {{/board.filePath}}
                </div>

                <div class="form-btn">
                    <button class="cancel-btn"><a href="/">취소</a></button>
                    <button type="button" class="upate-btn" id="btn-update">수정</button>
                    <button class="delete-btn" id="btn-delete">삭제</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>