{{>layout/header}}

<h1 class="text-center">게시판</h1>

<div class="container square-box">
    <div class="row">

        <div class="col">
            <a href="/board/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
        <div class="col-6"></div>
        <div class="col justify-content-end">
            {{#nickname}}
                반갑습니다! <span id="user"><b>{{nickname}}</b> 님</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/nickname}}
            {{^nickname}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/nickname}}
        </div>

    </div>
</div>

<br>

<div class="d-flex justify-content-center">
<table class="table table-horizontal table-bordered square-box">
    <thead class="thead-strong">
    <tr>
        <th scope="col" style="width: 70%">제목</th>
        <th scope="col" style="width: 30%">작성자</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#boards}}
        <tr>
            <td><a href="/board/read/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
        </tr>
    {{/boards}}
    </tbody>
</table>
</div>

<input type="hidden" id="maxPage" value={{maxPage}}>


<nav aria-label="page navigator">
<ul class="pagination justify-content-center">
    <li id="li_prev"><a class="page-link" id="a_prev">Previous</a></li>
    <ul class="list-group list-group-horizontal" id="navigation"></ul>
    <li id="li_next"><a class="page-link" id="a_next">Next</a></li>
</ul>
</nav>

{{>layout/footer}}