{{>layout/header}}

<h1>로그인</h1>

<div class="col-md-12">
    <div class="col-md-4">

        <form method="POST" action="/api/v1/login">
            <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" class="form-controll" id="username" name="username" placeholder="아이디">
            </div>

            <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-controll" id="password" name="password" placeholder="비밀번호">
            </div>

            <input type="hidden" id="token" name="${_csrf.headerName}" value="${_csrf.token}"/>

            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-login">로그인</button>
            {{! <button type="submit" class="btn btn-primary" id="btn-login">로그인</button> }}
        </form>

    </div>
</div>

{{>layout/footer}}